.modal-skills {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(87, 82, 85, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .modal-skills-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    .domain-section {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        margin: 10px 0;
      }
      .domain-div {
        .domain-dropdown {
          width: 350px;
        }
        .error-message {
          color: red;
          font-size: 12px;
          margin: 4px 0 0;
          i {
            padding-right: 3px;
          }
        }
      }
    }
    .sub-domain-section {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        margin: 10px 0;
      }
      .sub-domain-div {
        .sub-domain-dropdown {
          width: 350px;
          outline: none;
        }
        .error-message {
          color: red;
          font-size: 12px;
          margin: 4px 0 0;
          i {
            padding-right: 3px;
          }
        }
      }
    }
    .experience-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
      label {
        margin: 10px 0;
      }
      .exp {
        display: flex;
        flex-direction: column;
        .measurement-dropdown {
          width: 350px;
        }
        .error-message {
          color: red;
          font-size: 12px;
          margin: 4px 0 0;
          i {
            padding-right: 3px;
          }
        }
      }
    }
    .button-section {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      .cancel-button-modal {
        transition: transform 0.2s;
        min-width: 65px;
        outline: none;
        background-color: white;
        border: 2px solid #e59560;
        border-radius: 8px;
        cursor: pointer;
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        margin-right: 20px;
        font-size: 16px;
      }
      .cancel-button-modal:hover {
        transform: scale(1.1);
      }
      .save-button-modal {
        transition: transform 0.2s;
        min-width: 65px;
        outline: none;
        background-color: #d96846;
        border: 2px solid #d96846;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px 15px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 16px;
      }
      .save-button-modal:hover {
        transform: scale(1.1);
      }
    }
  }
}
